@keyframes loader--item {
    0%{transform:scale(0.5);opacity:30%;}
    20%{transform:scale(0.7);opacity:60%;}
    40%{transform:scale(0.5);opacity:70%;}
    60%{transform:scale(0.7);opacity:80%;}
    80%{transform:scale(0.5);opacity:90%;}
    100%{transform:scale(0.7);opacity:0;display:none;}
    
}

div:nth-child(1){animation:loader--item 1s ease;animation-fill-mode: both;animation-iteration-count: 3;}
    div:nth-child(2){animation:loader--item 1s ease;animation-fill-mode: both;animation-iteration-count: 3;}
    div:nth-child(3){animation:loader--item 1s ease;;animation-fill-mode: both;animation-iteration-count: 3;}
    @for $i from 1 through 3 {
        div:nth-child(#{$i}n) {
            animation-delay: #{$i * 0.2}s;
        }
    }
    
@keyframes loader--top {
    100%{ transform: translate3d(0, -100%,0);display:none;}
}
@keyframes loader--bottom {
    100%{ transform: translate3d(0, 100%,0);display:none;}
}


@keyframes intro {
    0%{
        margin-top:1rem;
    }
    50%{
        margin-top:10rem;
    }
   
    100%{
        font-size: 10rem;
       margin-top:0rem;
    }
}

@keyframes weshLeBoutton{
    0%{}
    100%{padding:0rem;}
}