h1 {
  display: flex;
  justify-content: center;
  font-size: 0rem;
  -webkit-text-stroke: 1px black;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: intro;
          animation-name: intro;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  margin: auto;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  padding-bottom: 1rem;
}

article button {
  width: 60vw;
  font-size: 1.2rem;
}
article img {
  transform: scale(0.7);
}
article p span {
  font-size: 0.9rem;
}
article p p {
  font-size: 1.5rem;
}

.loader--top {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 50vh;
  z-index: 1;
  background-color: #9B2335;
  -webkit-animation: loader--top 500ms ease;
          animation: loader--top 500ms ease;
  -webkit-animation-delay: 3800ms;
          animation-delay: 3800ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader--bottom {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 50vh;
  z-index: 1;
  background-color: #9B2335;
  -webkit-animation: loader--bottom 500ms ease;
          animation: loader--bottom 500ms ease;
  -webkit-animation-delay: 3800ms;
          animation-delay: 3800ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.spinner {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 33vh;
  left: 0vw;
  z-index: 2;
  transform: scale(0.5);
}
.spinner div:nth-child(1) {
  -webkit-animation: loader--item 1s ease;
          animation: loader--item 1s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}
.spinner div:nth-child(2) {
  -webkit-animation: loader--item 1s ease;
          animation: loader--item 1s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}
.spinner div:nth-child(3) {
  -webkit-animation: loader--item 1s ease;
          animation: loader--item 1s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}
.spinner div:nth-child(1n) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.spinner div:nth-child(2n) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.spinner div:nth-child(3n) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes loader--item {
  0% {
    transform: scale(0.5);
    opacity: 30%;
  }
  20% {
    transform: scale(0.7);
    opacity: 60%;
  }
  40% {
    transform: scale(0.5);
    opacity: 70%;
  }
  60% {
    transform: scale(0.7);
    opacity: 80%;
  }
  80% {
    transform: scale(0.5);
    opacity: 90%;
  }
  100% {
    transform: scale(0.7);
    opacity: 0;
    display: none;
  }
}

@keyframes loader--item {
  0% {
    transform: scale(0.5);
    opacity: 30%;
  }
  20% {
    transform: scale(0.7);
    opacity: 60%;
  }
  40% {
    transform: scale(0.5);
    opacity: 70%;
  }
  60% {
    transform: scale(0.7);
    opacity: 80%;
  }
  80% {
    transform: scale(0.5);
    opacity: 90%;
  }
  100% {
    transform: scale(0.7);
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes loader--top {
  100% {
    transform: translate3d(0, -100%, 0);
    display: none;
  }
}
@keyframes loader--top {
  100% {
    transform: translate3d(0, -100%, 0);
    display: none;
  }
}
@-webkit-keyframes loader--bottom {
  100% {
    transform: translate3d(0, 100%, 0);
    display: none;
  }
}
@keyframes loader--bottom {
  100% {
    transform: translate3d(0, 100%, 0);
    display: none;
  }
}
@-webkit-keyframes intro {
  0% {
    margin-top: 1rem;
  }
  50% {
    margin-top: 10rem;
  }
  100% {
    font-size: 2.5rem;
    margin-top: 0rem;
  }
}
@keyframes intro {
  0% {
    margin-top: 1rem;
  }
  50% {
    margin-top: 10rem;
  }
  100% {
    font-size: 2.5rem;
    margin-top: 0rem;
  }
}
@-webkit-keyframes weshLeBoutton {
  100% {
    padding: 0rem;
  }
}
@keyframes weshLeBoutton {
  100% {
    padding: 0rem;
  }
}/*# sourceMappingURL=mobile.css.map */