$color1:#9B2335;

@import "./animation.scss";
@import "./loader.scss";

*, *::before,*::after{
    box-sizing: border-box;
}

body{
    margin: 0px;
    color:white;
    font-family: 'Amatic SC', cursive;
    overflow: hidden;
    
    
}

main{
    height:100vh;
    margin:auto;
    margin-top:0;
    background-color: #2481d3;
    padding:1rem;
    background-image: url('./img/nuage.jpg');
    
}

h1{
    display:flex;
    justify-content: center;
    //changer ici pour ocuper animation
    //changer ici pour ocuper animation
    font-size: 0rem;
      //changer ici pour ocuper animation
      //changer ici pour ocuper animation
    -webkit-text-stroke: 1px black;
    animation-duration:2s;
    animation-name:intro;
    animation-fill-mode: forwards;
    margin:auto;
    animation-delay: 2500ms;
    padding-bottom:5rem;
    font-weight: bold;
}

article{
      //changer ici pour ocuper animation
      //changer ici pour ocuper animation
    padding:500rem;
      //changer ici pour ocuper animation
      //changer ici pour ocuper animation
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    animation: weshLeBoutton 1s ease;
    animation-fill-mode: forwards;
    animation-delay: 3800ms;
    img{
       
       height:20rem;
       width:100%;
        object-fit: fill;
        
    }
    p{
        display:flex;
        flex-direction: column;
        font-size: 2rem;
        text-align: center;
        font-family: 'Amatic SC', cursive;
        color:black;
        
        p{
            margin:0;
           
        }
        span{
            font-size: 1.2rem;
        }
    }
    button{
        font-family: 'Amatic SC', cursive;
        font-size: 2rem;
        font-weight: bolder;
        width:20%;
        margin:1rem;
        padding:1rem;
        background-color:white;
        border-radius:15px;
        z-index:1;
    }
    button:hover{
        background-color:rgb(223, 217, 217);
        transform:scale(1.1);
    }
}


